<template>
  <v-autocomplete
    :key="field"
    :label="$t('generic.concept.type')"
    auto-select-first
    validate-on-blur
    :disabled="label === null"
    :items="getTypes()"
    :rules="label ? [validate] : []"
    :value="field"
    :menu-props="{ top: true, dense: true, maxHeight: 400 }"
    @input="onInput"
  >
    <template #item="{ item: name, on, attrs }">
      <v-list-item dense v-bind="attrs" v-on="on">
        <div :class="`type-background type-${makeCss(name)}`" />
        <v-list-item-title v-text="name" />
      </v-list-item>
    </template>
    <template #append>
      <div :class="`type-icon type-${makeCss(field)}`" />
    </template>
  </v-autocomplete>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import { makeCssIdentifier } from '@/logic/CSSGenerator';
import LabelField from './LabelField.vue';

@Component
export default class TypeField extends LabelField<'type'> {
  /** @override */
  key = 'type' as const;

  @Prop({ required: true })
  types!: string[];

  getTypes(): string[] {
    // If the label has a type that is not in the type name list
    // Add it to the list (for display)
    if (this.lastOk && !this.types.includes(this.lastOk)) {
      return [this.lastOk, ...this.types];
    }

    return this.types;
  }

  makeCss = makeCssIdentifier;

  /** @override */
  parse(val: string): string {
    const trimmedVal = val.trim();

    if (this.types.includes(trimmedVal)) return trimmedVal;

    throw new Error(`${val} is not a type`);
  }

  /** @override */
  print(val: string): string {
    return val;
  }
}
</script>
<style scoped lang="scss">
.type-background {
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--label-color, white);
}
.type-icon {
  opacity: 0.4;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  border: 1px solid #000;
  background-color: var(--label-color, white);
}
</style>
