<template>
  <div class="player-container">
    <!-- The audio player. Warning: -->
    <!-- Changing musical time will not affect player -->
    <!-- You need to call setTime -->
    <div class="ma-3">
      <fab
        :disabled="currentTime === 0"
        tooltip-direction="left"
        color="accent"
        icon="mdi-skip-previous"
        @click="goToStart"
      />
    </div>
    <template v-if="audio">
      <!-- useFile is true if no youtube id is available, or if there was a youtube error -->
      <file-player
        v-if="useFile"
        ref="player"
        v-model="playing"
        :audio="audio"
        :current-time.sync="currentTime"
        @error="onFileError"
        @go-to-next="goToNext"
      />
      <youtube-player
        v-else
        ref="player"
        v-model="playing"
        :audio="audio"
        :current-time.sync="currentTime"
        :last-onset.sync="lastOnsetBeforeSwitch"
        @error="onYtError"
        @go-to-next="goToNext"
      />
    </template>
  </div>
</template>
<script lang="ts">
import {
  Vue, Component, Prop, Ref, VModel, PropSync, Watch,
} from 'vue-property-decorator';
import type { Audio, Onset, Second } from '@/data';
import Fab from '@/components/utils/Fab.vue';
import { Debounce } from 'vue-debounce-decorator';
import FilePlayer from './FilePlayer.vue';
import YoutubePlayer from './YoutubePlayer.vue';
import type IPlayerContainer from './IPlayerContainer';
import type IPlayer from './IPlayer';
import { warnAnalysisUnsaved, warnAudioFileError, warnYoutubeError } from '../dialogs';

const DEBOUNCE_TIME = 2000;

@Component({
  components: {
    FilePlayer,
    YoutubePlayer,
    Fab,
  },
})
export default class PlayerContainer extends Vue implements IPlayerContainer {
  @Prop({ required: true })
  audio!: Audio | null;

  @PropSync('clean')
  isClean!: boolean;

  @PropSync('lastOnset')
  lastOnsetBeforeSwitch!: Onset;

  // The player implementation
  // Follows the same definition as the PlayerContainer
  @Ref('player')
  player?: IPlayer;

  lastTime: Second | null = null;

  useFile = false;

  created() {
    this.onAudioChange();
  }

  @Watch('audio')
  onAudioChange() {
    if (!this.audio) return;

    this.useFile = !this.audio.youtubeId;
  }

  @Debounce(DEBOUNCE_TIME)
  async goToNext() {
    if (!this.$store.state.corpusId) return;
    if (this.$store.state.indexCurrentPiece >= this.$store.state.corpus.length - 1) return;
    if (!this.isClean) return;

    this.$store.dispatch('updateIndexCurrentPiece', {
      indexCurrentPiece: this.$store.state.indexCurrentPiece + 1,
    });
    this.$store.dispatch('updateAllowedToPlay', {
      allowedToPlay: localStorage.getItem('continuePlaying'),
    });

    this.$router.push(this.$store.state
      .corpus[this.$store.state.indexCurrentPiece]
      .path.split('/').pop());
  }

  onYtError(e: Error) {
    // eslint-disable-next-line no-console
    console.error('Could not load youtube: ', e);

    // If file url is available, switch to it
    if (this.audio?.url) this.useFile = true;
    // Otherwise warn user
    else warnYoutubeError();
  }

  onFileError(e: Error) {
    // eslint-disable-next-line no-console
    console.error('Could not load audio file: ', e);
    warnAudioFileError();
  }

  /** Wrapper value to pass as sync prop to players */
  get currentTime(): Second | null {
    return this.realTimeSync;
  }

  set currentTime(time: Second | null) {
    if (!this.audio) return;

    this.realTimeSync = time;
    this.musicalTimeSync = time && this.audio.secondUnit.toOnset(time);
  }

  @PropSync('realTime')
  realTimeSync!: Second | null;

  @PropSync('musicalTime')
  musicalTimeSync!: Onset | null;

  // Pass the function calls to the implementation
  // Ignore calls if the player is not yet setup

  public setMusicalTime(onset: Onset) {
    if (!this.audio) return;

    const second = this.audio.secondUnit.fromOnset(onset);
    this.player?.setCurrentTime(second);
  }

  public setRealTime(second: Second) {
    this.player?.setCurrentTime(second);
  }

  public goToStart() {
    this.setRealTime(0 as Second);
  }

  public reset() {
    this.realTimeSync = null;
    this.musicalTimeSync = null;
    this.playing = false;
    this.player?.reset();
  }

  @VModel({ default: false })
  playing!: boolean;
}
</script>
<style scoped lang="scss">
.player-container {
  display: flex;
}
</style>
