<template>
  <v-container>
    <v-row justify="space-between">
      <v-col cols="5">
        <v-select
          v-model="actions.tappingIncrement"
          :label="$t('tap-bar.label.increment')"
          :items="possibleIncrements"
          :item-text="(item) => $t(`tap-bar.${item.text}`)"
        />
      </v-col>
      <v-col cols="5">
        <!-- The countdown bar -->
        <countdown
          v-model="isCountdownSync"
          :duration="2"
          @finished="startTapping"
        />
        <fab
          ref="tapButton"
          icon="mdi-hand-clap"
          :disabled="isCountdownSync"
          :tooltip="$t(isTappingSync ? 'tap-bar.tooltip.start' : 'tap-bar.tooltip.tap')"
          @click="() => isTappingSync ? tap() : startCountdown()"
        />
        <fab
          icon="mdi-stop"
          :disabled="!isCountdownSync && !isTappingSync"
          :tooltip="$t('tap-bar.tooltip.stop')"
          @click="stop"
        />
      </v-col>
      <v-col cols="2" />
    </v-row>
  </v-container>
</template>

<script lang="ts">
import {
  Vue, Component, Prop, PropSync, Watch,
} from 'vue-property-decorator';
import type { Onset, Second, Signature } from '@/data';
import type SynchronizationActions from '@/synchronization-logic/SynchronizationActions';
import Fab from '@/components/utils/Fab.vue';
import Countdown from './Countdown.vue';

interface Increment {
  value: number | (() => number);
  text: string;
}

@Component({
  components: { Countdown, Fab },
})
export default class TapBar extends Vue {
  @Prop({ required: true })
  actions!: SynchronizationActions;

  @Prop({ required: true })
  signature!: Signature;

  @Prop({ required: true })
  realTime!: Second | null;

  @PropSync('isTapping', { required: true })
  isTappingSync!: boolean;

  @PropSync('isCountdown', { required: true })
  isCountdownSync!: boolean;

  @PropSync('playing', { required: true })
  playingSync!: boolean;

  @Prop({ required: true })
  setTime!: (onset: Onset) => void;

  mounted() {
    // Create the list of possible increment from the signature
    this.updateIncrements();
    // Add event listeners
    document.addEventListener('keydown', this.onKey);
  }

  beforeDestroy() {
    // if countdown or tap started, abort
    this.stop();
    // Remove event listeners
    document.removeEventListener('keydown', this.onKey);
  }

  // Keyboard shortcuts
  // On space, add a new sync point
  // On escape, stop tapping
  onKey(e: KeyboardEvent) {
    // If not currently tapping, ignore any event
    if (!this.isTappingSync) return;

    if (e.key === ' ') {
      this.tap();
      e.preventDefault();
    } else if (e.key === 'Escape') {
      this.stop();
      e.preventDefault();
    }
  }

  // Tapping handling

  setTimeToSelection() {
    // Try to ensure selection
    const selected = this.actions.getSelectedOrFirst();
    this.actions.select(selected.id);

    // Set the time to the selected sync point
    this.setTime(selected.onset);
  }

  startCountdown() {
    // Start the countdown, an event will be received from <countdown> to start tapping
    this.isCountdownSync = true;
    this.playingSync = false;
    this.setTimeToSelection();
  }

  startTapping() {
    // Set tapping to true
    this.isTappingSync = true;
    // Make sure the music time is at the correct position
    this.setTimeToSelection();
    // Start play
    this.playingSync = true;
  }

  tap() {
    // If playback stopped for any reason, stop
    if (!this.realTime) {
      this.stop();
      return;
    }
    // Try to create a new sync point
    const label = this.actions.createTappingSyncPoint(this.realTime);

    // If impossible to create a label, stop
    // TODO: explain why to the user
    if (!label) this.stop();
  }

  stop() {
    // If currently tapping and playing, stop the music
    if (this.isTappingSync) this.playingSync = false;

    this.isCountdownSync = false;
    this.isTappingSync = false;
  }

  // Increments handling

  possibleIncrements: Increment[] = [];

  @Watch('signature')
  updateIncrements() {
    const { beatIncrement, measureIncrement } = this.signature;

    this.possibleIncrements = [
      { value: measureIncrement, text: 'increments.measure' },
      { value: measureIncrement * 2, text: 'increments.twoMeasures' },
      { value: measureIncrement * 4, text: 'increments.fourMeasures' },
      { value: beatIncrement / 2, text: 'increments.halfBeat' },
      { value: beatIncrement, text: 'increments.time' },
      { value: beatIncrement * 2, text: 'increments.timeSecond' },
      { value: beatIncrement * 3, text: 'increments.timeThird' },
      { value: beatIncrement * 4, text: 'increments.timeFourth' },
    ];
  }
}
</script>
