<template>
  <div class="my-6">
    <v-row>
      <v-col>
        <v-row class="mx-1" justify="space-between">
          <div>
            {{ label }}
          </div>
          <v-icon
            v-if="inputState !== 'default'"
            class="text-right"
            @click="inputState = 'default'"
          >
            mdi-arrow-left
          </v-icon>
        </v-row>
        <v-row v-if="inputState === 'default'" justify="space-between" align="center">
          <v-col>
            <v-btn
              outlined
              block
              color="indigo"
              @click="inputState = 'text'"
            >
              Url
            </v-btn>
          </v-col>
          <v-col>
            <v-btn
              outlined
              block
              color="indigo"
              @click="inputState = 'file'"
            >
              {{ $t('button.file') }}
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-text-field
      v-if="inputState === 'text'"
      :rules="rules"
      hide-details="auto"
      @input="inputChanged"
    />
    <v-file-input
      v-if="inputState === 'file'"
      :rules="rules"
      hide-details="auto"
      @change="inputChanged"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class FileOrUrlInput extends Vue {
  @Prop({ required: true })
  value!: string | File[] | null;

  @Prop({ type: String, required: true })
  label!: string;

  @Prop({ required: false, default: () => [] })
  rules!: Array<(arg: string) => boolean | boolean | string>;

  inputState = 'default';

  inputChanged(value: string | File[]) {
    this.$emit('input', value);
  }
}
</script>
