<template>
  <rect
    v-if="range !== null"
    class="canvas-cursor"
    :x="range.start - 2"
    :width="range.width"
    height="20px"
    z-index="-1"
  />
</template>
<script lang="ts">
import {
  Component, Prop, Watch,
} from 'vue-property-decorator';
import type {
  Unit, Onset, Pixel, Range, Signature,
} from '@/data';
import LabelBehavior from '../LabelBehavior.vue';
import type { BCursorMoveEmitter } from './BCanvasCursor.vue';

@Component
export default class BCanvasCursor extends LabelBehavior<BCursorMoveEmitter> {
  @Prop({ required: true })
  musicalTime!: Onset | null;

  @Prop({ required: true })
  signature!: Signature;

  @Prop({ required: true })
  pixelUnit!: Unit<Pixel>;

  range: Range<Pixel> | null = null;

  @Watch('musicalTime')
  @Watch('pixelUnit')
  onTimeChange() {
    const oldPosition = this.range?.start;

    this.range = this.calculatePosition();

    if (this.canEmitOrRegister
      && this.range !== null
      && this.range.start !== oldPosition) {
      this.emit('cursor-move', this.range.start);
    }
  }

  calculatePosition(): Range<Pixel> | null {
    // If not musical time, don't display anything
    if (this.musicalTime === null) return null;

    const measure = this.signature.getMeasureFromOnset(this.musicalTime);
    const onset = this.signature.getOnsetFromMeasure(measure);
    const duration = this.signature.measureIncrement;

    return this.pixelUnit.fromInterval(onset, duration);
  }
}
</script>
<style scoped lang="scss">
.canvas-cursor {
  border: 2px solid black;
  opacity: 0.1;
}
</style>
