<script lang="ts">
import Component from 'vue-class-component';
import { Prop, PropSync } from 'vue-property-decorator';
import type { Unit, Onset, Pixel } from '@/data';
import PixelUtils from '@/data/PixelUtils';
import type { Image3DPageData } from '@/data/Source';
import LabelBehavior from '../LabelBehavior.vue';

/**
 * Set player position using shift click
 */
@Component
export default class BSeekOnShiftClick extends LabelBehavior {
  mounted() {
    this.register('staff-shift-mousedown', (e) => {
      this.musicalTime = this.pixelUnit
        .toOnset(PixelUtils.getMuxPixelFromPosition(this.pages, e.x, e.y));
    });
    this.register('label-shift-mousedown', (e, label) => {
      this.musicalTime = label.onset;
    });
  }

  @Prop()
  pixelUnit!: Unit<Pixel>;

  @PropSync('time', { required: false })
  musicalTime!: Onset;

  @Prop()
  pages!: Array<Image3DPageData>;
}
</script>
