<template>
  <v-select
    v-model="source"
    :prepend-inner-icon="sourceIcon(source)"
    :items="items"
    :item-text="sourceText"
    return-object
    solo hide-details
    dense flat
    height="32px"
    class="rounded-bl-xl"
    dark :background-color="$store.state.primaryColor"
    :menu-props="{ rounded: '0' }"
  >
    <template #prepend-item>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            {{ $t('canvas-switcher.select.tooltip.chose') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="mt-2" />
    </template>
    <template #item="{item, attrs, on}">
      <v-list-item :two-line="!!item.info" v-bind="attrs" v-on="on">
        <v-list-item-icon>
          <v-icon v-text="sourceIcon(item)" />
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title v-text="sourceText(item)" />
          <v-list-item-subtitle v-if="!!item.info" v-text="item.info" />
          <v-list-item-subtitle
            v-if="!!item.license"
          >
            {{ item.license }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </template>
  </v-select>
</template>

<script lang="ts">
import {
  Vue, Component, Prop, VModel,
} from 'vue-property-decorator';
import type { Source } from '@/data';
import { SourceType } from '@/data';

/**
 * The select menu in the canvas switcher, allowing a change of source
 */
@Component
export default class CanvasSwitcherSelect extends Vue {
  @Prop({ required: true })
  items!: Source[];

  @VModel()
  source!: Source;

  sourceText(s: Source): string {
    // Get the translation for the source type
    const key = `canvas-switcher.select.string.${s.type}`;

    // If the translation exists, use it, or use the raw type
    const sourceType = this.$t(key) ? this.$t(key) : this.capitalize(s.type);

    // If a name is present, prepend it to the type
    if (s.name) return `${sourceType} (${this.capitalize(s.name)})`;

    return `${sourceType}`;
  }

  sourceIcon(s: Source): string {
    if (s.type === SourceType.Score) return 'mdi-playlist-music';
    return 'mdi-waveform';
  }

  capitalize(s: string): string {
    return s.charAt(0).toUpperCase() + s.slice(1);
  }
}
</script>
