<template>
  <div>
    <v-btn
      v-if="showVerticalSplitIcon"
      color="primary"
      dark
      tile
      class="canvas-switcher-add-button"
      @click="onSelect('vertical')"
    >
      <v-icon>
        mdi-view-split-horizontal
      </v-icon>
    </v-btn>
    <v-btn
      v-if="showHorizontalSplitIcon"
      color="primary"
      dark
      tile
      class="canvas-switcher-add-button"
      @click="onSelect('horizontal')"
    >
      <v-icon>
        mdi-view-split-vertical
      </v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import type { CanvasLayoutDirection } from './CanvasSwitcher.vue';

@Component
export default class CanvasSwitcherAddButton extends Vue {
  @Prop({ required: true, default: true, type: Boolean })
  showVerticalSplitIcon!: boolean;

  @Prop({ required: true, default: true, type: Boolean })
  showHorizontalSplitIcon!: boolean;

  items = ['vertical', 'horizontal'];

  selected!: CanvasLayoutDirection;

  onSelect(value: CanvasLayoutDirection) {
    this.$emit('add', value);
    // this.$emit('add', CanvasLayoutDirection.Vertical);
  }
}
</script>

<style lang="scss" scoped>
.canvas-switcher-add-button {
  box-shadow: none;
  height: 100% !important;
}
</style>
