<template>
  <div class="switcher-container">
    <div
      v-for="sourceArray, parentIndex in openedSources"
      :key="parentIndex"
      :class="{ 'separated-row': parentIndex > 0 }"
      class="canvas-row-container"
    >
      <div
        v-for="{source, scale, snappableWave}, index in sourceArray"
        :key="`${index} ${source.id}`"
        class="canvas-col-container"
        :class="{ 'separated-col': index > 0 }"
        :style="`width: ${100 / sourceArray.length}%`"
      >
        <canvas-switcher-menu>
          <!-- The dropdown menu to select a source -->
          <canvas-switcher-select
            v-if="sources.length > 1"
            :value="source"
            :items="sources"
            @input="(source) => setSource(source, parentIndex, index)"
          />
          <!-- Scale down button -->
          <canvas-switcher-button
            v-if="!source.shouldSnap"
            icon="mdi-magnet"
            :togglable="true"
            :tooltip="$t('canvas-switcher.tooltip.snap')"
            @click="() => toggleSnap(parentIndex, index)"
          />
          <canvas-switcher-button
            v-if="!source.shouldSnap"
            icon="mdi-magnify-minus"
            :tooltip="$t('canvas-switcher.tooltip.scaleDown')"
            @click="() => scale.exponent -= 1"
          />
          <canvas-switcher-button
            v-if="!source.shouldSnap"
            icon="mdi-magnify-plus"
            :tooltip="$t('canvas-switcher.tooltip.scaleUp')"
            @click="() => scale.exponent += 1"
          />
          <canvas-switcher-add-button
            v-if="sources.length > 1"
            :show-horizontal-split-icon="parentIndex === 0 && openedSources[0].length < 2"
            :show-vertical-split-icon="openedSources.length < 2"
            @add="(dir) => add(parentIndex, index, dir)"
          />
          <canvas-switcher-button
            v-if="openedSources.length > 1 || openedSources[0].length > 1"
            icon="mdi-close"
            :tooltip="$t('canvas-switcher.tooltip.close')"
            @click="() => remove(parentIndex, index)"
          />
        </canvas-switcher-menu>
        <div
          class="canvas-slot"
        >
          <slot
            :source="source"
            :scale="scale"
            :index="(index + 1) * (sourceArray.length)"
            :snappableWave="snappableWave"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import type { Audio, Source } from '@/data';
import { SourceType } from '@/data';
import Zoom from '@/logic/Zoom';
import CanvasSwitcherButton from './CanvasSwitcherButton.vue';
import CanvasSwitcherSelect from './CanvasSwitcherSelect.vue';
import CanvasSwitcherMenu from './CanvasSwitcherMenu.vue';
import CanvasSwitcherAddButton from './CanvasSwitcherAddButton.vue';

export enum CanvasLayoutDirection {
  Vertical = 'vertical',
  Horizontal = 'horizontal'
}

interface SelectedSource {
  source: Source;
  scale: Zoom;
  snappableWave: boolean;
}

@Component({
  components: {
    CanvasSwitcherButton,
    CanvasSwitcherSelect,
    CanvasSwitcherMenu,
    CanvasSwitcherAddButton,
  },
})
export default class CanvasSwitcher extends Vue {
  @Prop()
  sources!: Source[];

  openedSources: Array<SelectedSource[]> = [];

  @Prop({ default: 1, validator: (t) => (t > 0) })
  maxCanvases!: number;

  mounted() {
    if (this.sources.length === 0) throw new Error('No Sources in Switcher');

    this.add(0, 0);
  }

  toggleSnap(row: number, col: number) {
    this.openedSources[row][col].snappableWave = !this.openedSources[row][col].snappableWave;
  }

  public updateWaveform(track: Audio) {
    let founded = false;
    for (let i = 0; i < this.openedSources.length; i += 1) {
      for (let j = 0; j < this.openedSources[i].length; j += 1) {
        const currentSource = this.openedSources[i][j];
        if (
          currentSource.source.track?.youtubeId
          && currentSource.source.track.youtubeId !== track.youtubeId
        ) {
          const newSource = this.sources.find((s) => s.track?.youtubeId === track.youtubeId);

          const scale = new Zoom();
          const snappableWave = false;
          Vue.set(this.openedSources[i], j, { source: newSource, scale, snappableWave });

          founded = true;
          break;
        }
      }
      if (founded) { break; }
    }
  }

  setSource(source: Source, row: number, col: number) {
    if (source.type === SourceType.AudioImage) {
      this.$emit('set-youtube-track', source.track);
    }

    const scale = new Zoom();
    const snappableWave = false;
    Vue.set(this.openedSources[row], col, { source, scale, snappableWave });
  }

  add(row: number, col: number, direction?: CanvasLayoutDirection) {
    const source = this.sources[0];
    const scale = new Zoom();
    const snappableWave = false;
    if (direction && direction === CanvasLayoutDirection.Horizontal) {
      this.openedSources[row].splice(col, 0, { source, scale, snappableWave });
    } else if (this.openedSources.length >= row) {
      this.openedSources.splice(row, 0, [{ source, scale, snappableWave }]);
    } else {
      this.openedSources.push([{ source, scale, snappableWave }]);
    }
  }

  remove(row: number, col: number) {
    if (this.openedSources[row].length === 1) {
      this.openedSources.splice(row, 1);
    } else {
      this.openedSources[row].splice(col, 1);
    }
  }
}
</script>
<style scoped lang="scss">
.switcher-container {
  max-width: 100vw;
}
.canvas {
  &-row-container {
    display: flex;
    width: 100%;
    &.separated-row {
      border-top: 2px solid #607d8b;
    }
  }
  &-col-container {
    width: 100%;
    &:not(:last-child) {
      resize: horizontal;
      overflow: auto;
    }
    &.separated-col {
      border-left: 2px solid #607d8b;
    }
  }
  &-slot {
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.14);
  }
}
</style>
