<template>
  <div class="switcher-container">
    <div
      v-for="canvas, index in canvases"
      :key="index"
    >
      <template v-if="canvas.availableSources.length && openedSources[index]">
        <canvas-switcher-menu>
          <!-- The dropdown menu to select a source -->
          <canvas-switcher-select
            v-if="canvas.availableSources.length > 1"
            :value="openedSources[index].source"
            :items="canvas.availableSources"
            @input="setSource($event, index)"
          />
          <!-- Scale down button -->
          <canvas-switcher-button
            v-if="!openedSources[index].source.shouldSnap"
            icon="mdi-magnify-minus"
            :tooltip="$t('canvas-switcher.tooltip.scaleDown')"
            @click="openedSources[index].scale.exponent -= 1"
          />
          <canvas-switcher-button
            v-if="!openedSources[index].source.shouldSnap"
            icon="mdi-magnify-plus"
            :tooltip="$t('canvas-switcher.tooltip.scaleUp')"
            @click="openedSources[index].scale.exponent += 1"
          />
        </canvas-switcher-menu>
        <div
          class="canvas-slot"
        >
          <slot
            :source="openedSources[index].source"
            :scale="openedSources[index].scale"
            :index="index"
          />
        </div>
      </template>
    </div>
    <canvas-switcher-menu>
      <canvas-switcher-button
        v-if="canAdd"
        icon="mdi-plus"
        :tooltip="$t('canvas-switcher.tooltip.open')"
        @click="$emit('add')"
      />
    </canvas-switcher-menu>
  </div>
</template>

<script lang="ts">
import {
  Vue, Component, Prop, Watch,
} from 'vue-property-decorator';
import type { Source } from '@/data';
import Zoom from '@/logic/Zoom';
import CanvasSwitcherButton from './CanvasSwitcherButton.vue';
import CanvasSwitcherSelect from './CanvasSwitcherSelect.vue';
import CanvasSwitcherMenu from './CanvasSwitcherMenu.vue';

interface SelectedSource {
  source: Source;
  scale: Zoom;
}

export interface LimitedCanvas {
  availableSources: Source[];
}

/**
 * Like the canvas switcher, allows multiple sources
 *
 * However, the number of canvases are limited, and their options are locked to a set of choices
 */
@Component({
  components: {
    CanvasSwitcherButton,
    CanvasSwitcherSelect,
    CanvasSwitcherMenu,
  },
})
export default class LimitedCanvasSwitcher extends Vue {
  /**
   * An array of objects describing the options of each canvas
   */
  @Prop()
  canvases!: LimitedCanvas[];

  @Prop({ default: false })
  canAdd!: boolean;

  openedSources: (SelectedSource | null)[] = [];

  created() {
    this.mapCanvases();
  }

  @Watch('canvases')
  mapCanvases() {
    this.openedSources = this.canvases.map((c) => {
      if (!c.availableSources.length) return null;

      return {
        source: c.availableSources[0],
        scale: new Zoom(),
      };
    });
  }

  setSource(source: Source, index: number) {
    const scale = new Zoom();
    Vue.set(this.openedSources, index, {
      source,
      scale,
    });
  }
}
</script>
<style scoped lang="scss">
.canvas-slot {
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.14);
}
</style>
