<template>
  <v-main>
    <about-dialog :actions="false" />
    <title-manager :title="$t('page.title')" />
  </v-main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TitleManager from '@/components/navigation/TitleManager.vue';
import AboutDialog from '@/components/dialogs/AboutDialog.vue';

@Component({
  components: {
    AboutDialog,
    TitleManager,
  },
})
export default class AboutPage extends Vue {
}
</script>
