<script lang="ts">
import {
  Vue, Component,
} from 'vue-property-decorator';
import type { NavigationGuardNext, Route } from 'vue-router';

/**
 * Allows a child page to set a 'clean' flag
 * On page change, if the clean flag is false, it will try to prevent data loss
 */
@Component
export default class CleanCheckPage extends Vue {
  /**
   * If the user can route away from page without data loss
   * warnUser and checkRouteChange will never be called if this is true
   */
  protected clean = true;

  /**
   * Predicate used to filter routing events
   * Will only call warnUser on route update if this returns true
   */
  checkRouteChange?(to: Route, from: Route): boolean;

  /**
   * Override to warn the user in case of route update and route change
   */
  async warnUser?(): Promise<boolean>;

  // Use native data loss warning
  created() {
    window.onbeforeunload = (e: BeforeUnloadEvent): string | undefined => {
      if (!this.clean) {
        // Cancel page close firefox
        e.preventDefault();
        // Cancel page close chrome
        e.returnValue = '';
        return '';
      }
      return undefined;
    };
  }

  /**
   * If warnUser is available, call it
   * If successfull, continue routing
   */
  private async tryWarnUser(next: NavigationGuardNext): Promise<void> {
    // If no warnings are available, continue route
    if (!this.warnUser) {
      // eslint-disable-next-line no-console
      console.warn('warnUser is not defined, CleanCheckPage is not overridden properly');
      return next();
    }

    if (await this.warnUser()) return next();

    return next(false);
  }

  /**
   * Called on url change within this route
   */
  async beforeRouteUpdate(
    to: Route,
    from: Route,
    next: NavigationGuardNext,
  ) {
    // If page is clean, continue route
    if (this.clean) return next();
    // If route has not changed (checkRouteChange exists and return false)
    if (this.checkRouteChange && this.checkRouteChange(to, from) === false) {
      // continue route
      return next();
    }
    return this.tryWarnUser(next);
  }

  /**
   * Called on changing route
   */
  async beforeRouteLeave(
    to: Route,
    from: Route,
    next: NavigationGuardNext,
  ) {
    // If page is clean, continue route
    if (this.clean) return next();
    return this.tryWarnUser(next);
  }
}
</script>
