<template>
  <v-main class="app">
    <!-- The rendering canvas -->
    <label-canvas
      v-if="source && analysis && actions"
      v-slot="{ canvas }"
      :get-label="actions.getLabel.bind(actions)"
      :sorted-labels="actions.getSortedLabels()"
      :selected-id="actions.selectedId"
      :is-focused="true"
      :source="source"
      :zoom="1"
    >
      <!-- The behaviors, consume events and commit changes -->
      <b-select-on-click :canvas="canvas" :actions="actions" />
      <b-select-on-tab-focus :canvas="canvas" :actions="actions" />
      <b-unselect-on-canvas-click :canvas="canvas" :actions="actions" />
      <b-prev-next-on-key :canvas="canvas" :actions="actions" />
    </label-canvas>
    <color-generator
      v-if="analysis"
      :analysis="analysis"
    />
  </v-main>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import PieceLoader from '@/components/loaders/PieceLoader.vue';
import LabelCanvas from '@/components/canvas/LabelCanvas.vue';
import BSelectOnClick from '@/components/behaviors/shared/BSelectOnClick.vue';
import BUnselectOnCanvasClick from '@/components/behaviors/shared/BUnselectOnCanvasClick.vue';
import BSelectOnTabFocus from '@/components/behaviors/shared/BSelectOnTabFocus.vue';
import BPrevNextOnKey from '@/components/behaviors/shared/BPrevNextOnKey.vue';
import ColorGenerator from '@/components/canvas-addons/ColorGenerator.vue';

import type { Piece, EditableUnit, Source } from '@/data';
import { Analysis } from '@/data';

import type { Client } from '@/client';
import {
  extractQuery, extractQueryInt, getClient, getPiecePath,
} from '@/components/utils/nav-tools';
import type AnalysisActions from '@/logic/AnalysisActions';
import AnalysisActionsImpl from '@/logic/AnalysisActionsImpl';

/**
 * The main dezrann integration
 * loads piece and sync for the SyncEditor
 * then displays a piece sync and lets a user modify it
 */
@Component({
  components: {
    LabelCanvas,
    BSelectOnClick,
    BUnselectOnCanvasClick,
    BSelectOnTabFocus,
    BPrevNextOnKey,
    PieceLoader,
    ColorGenerator,
  },
})
export default class SyncPage extends Vue {
  unit: EditableUnit | null = null;

  piece: Piece | null = null;

  source: Source | null = null;

  analysis: Analysis | null = null;

  actions: AnalysisActions | null = null;

  async mounted() {
    const req = await this.client.loadPiece(this.piecePath, true);
    this.piece = req.data;
    this.loadSource();
    this.loadAnalysis();
  }

  @Watch('$route.query.source')
  loadSource() {
    // wait for piece loading if it's not
    if (!this.piece) return;

    this.source = this.piece.sources[this.sourceId || 0];
    if (!this.source) throw new Error(`Could not load source: ${this.sourceId}`);
  }

  @Watch('$route.query.analysis')
  async loadAnalysis() {
    // If no piece is loaded, ignore change. source will be loaded by onPieceLoad
    if (!this.piece) return;

    // If id is availabled
    if (this.analysisId) {
      // Try to load analysis
      const req = await this.client.loadAnalysis(this.piece, this.analysisId);
      // If req worked, store
      if (req.isOk()) this.analysis = req.data;
      // Otherwise log
      // eslint-disable-next-line no-console
      else console.error(req);
    }
    // Ensure an analysis is available
    if (!this.analysis) this.analysis = new Analysis([]);

    this.actions = new AnalysisActionsImpl(this.piece, this.analysis);
  }

  /** The current piece path, to load from the client */
  get piecePath(): string { return getPiecePath(this.$route); }

  /** The current client for this route */
  get client(): Client { return getClient(this.$route); }

  /** Get the source id from the query */
  get sourceId(): number | null { return extractQueryInt(this.$route.query.source); }

  /** Get the analysis id from the query */
  get analysisId(): string | null { return extractQuery(this.$route.query.analysis); }
}
</script>
