<template>
  <v-main>
    <help-dialog :actions="false" />
    <title-manager :title="$t('page.title')" />
  </v-main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelpDialog from '@/components/dialogs/HelpDialog.vue';
import TitleManager from '@/components/navigation/TitleManager.vue';

@Component({
  components: {
    HelpDialog,
    TitleManager,
  },
})
export default class HelpPage extends Vue {
}
</script>
