<template>
  <v-main>
    <showcase :corpus-list="corpusList" :client="client" />
  </v-main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import type { Client } from '@/client';
import { getClient } from '@/components/utils/nav-tools';
import Showcase from '@/components/Showcase.vue';
import type CorpusData from '@/data/CorpusData';
import type { ShowcaseCard } from '@/components/ShowcaseItem.vue';
import type { Piece } from '@/data';

@Component({
  components: {
    Showcase,
  },
})
export default class ShowcasePage extends Vue {
  get client(): Client { return getClient(this.$route); }

  corpusList: Array<CorpusData|ShowcaseCard> = [];

  flattenSubcorpora(corpus: any, pieces: any[] = []) {
    if (corpus.corpora) {
      corpus.corpora.forEach((corpora: any) => {
        this.flattenSubcorpora(corpora, pieces);
      });
    }
    if (corpus.pieces) {
      pieces.push(...corpus.pieces.map((p: any) => ({ ...p, id: `${corpus.id}/${p.id}` })));
    }
    return pieces;
  }

  searchCorpus(path: string): Array<Piece> | null {
    const corpus = JSON.parse(localStorage.getItem('dezrann-recursive-corpus') || '');
    const splittedPath = path.split('/').filter((i) => i.length > 0);
    if (splittedPath.length === 0) { return null; }
    let elem = corpus.corpora.find((c: any) => c.id === splittedPath[0]);
    for (let i = 1; i < splittedPath.length; i += 1) {
      elem = elem.corpora.find((c: any) => c.id === splittedPath[i]);
    }
    if (elem.pieces) { return elem.pieces as Array<Piece>; }

    const flattenedPieces = this.flattenSubcorpora(elem);
    if (flattenedPieces.length > 0) {
      return flattenedPieces;
    }
    return null;
  }

  async created() {
    // eslint-disable-next-line no-useless-catch
    try {
      const corpusData = await this.client.loadShowcaseCorpus();

      corpusData.forEach(async (corpus) => {
        const { data } = await this.client.loadPiece(`${corpus.path}/${corpus.showcase}`, false);
        corpus.setLocalizedShowcaseName(data.getPieceAndTitle(this.$i18n.locale));
      });

      this.corpusList = corpusData;

      const randomCorpusId = Math.round(Math.random() * (this.corpusList.length - 1));
      const randomCorpus = this.corpusList[randomCorpusId] as CorpusData;
      const randomPieces = this.searchCorpus(randomCorpus.path);
      if (randomPieces) {
        const randomPiecesWithoutShowcase = randomPieces
          .filter((piece) => randomCorpus.showcase !== piece.id);
        const randomPieceId = Math.round(Math.random() * (randomPiecesWithoutShowcase.length - 1));

        const randomPiecePath: string = randomCorpus.path
          + randomPiecesWithoutShowcase[randomPieceId].id;

        const { data } = await this.client.loadPiece(randomPiecePath, false);

        const randomCard: ShowcaseCard = {
          title: data.getTitle(this.$i18n.locale),
          metadata: data.getMetadataOne(this.$i18n.locale),
          metadatatwo: data.getMetadataTwo(this.$i18n.locale),
          link: `/~/${randomPiecePath}`,
          color: '#123456',
        };
        const randomPosition = Math
          .floor(Math.random() * ((this.corpusList.length - 1) - 1 + 1)) + 1;
        const newItemList = [...this.corpusList];
        newItemList.splice(randomPosition, 0, randomCard);
        this.corpusList = [...newItemList];
      }
    } catch (error) {
      this.$router.push({
        name: 'Dezrann Local App',
        params: { piecePath: 'bwv847' },
      });
    }
  }
}
</script>
