<template>
  <label-canvas
    v-slot="{ canvas }"
    :sorted-labels="sortedLabels"
    :selected-id="null"
    :is-focused="false"
    :source="source"
    :zoom="0.10"
  >
    <b-minimap-cursor
      :view-rect="viewRect"
    />
    <b-minimap-click-scroll
      :view-rect="viewRect"
      :canvas="canvas"
      :scroll-to="goTo"
    />
    <slot :canvas="canvas" />
  </label-canvas>
</template>
<script lang="ts">
import {
  Vue, Component, Prop,
} from 'vue-property-decorator';
import LabelCanvas from '@/components/canvas/LabelCanvas.vue';

// Behaviors
import BSeekOnShiftClick from '@/components/behaviors/player/BSeekOnShiftClick.vue';
import BCanvasCursor from '@/components/behaviors/player/BCanvasCursor.vue';
import BMinimapCursor from '@/components/behaviors/scroll/BMinimapCursor.vue';
import BMinimapClickScroll from '@/components/behaviors/scroll/BMinimapClickScroll.vue';

// Logic
import type { Label, Rect, Source } from '@/data';
import type { ScrollTo } from '@/logic/ScrollActions';

// Addons

/**
 * A specialized label-canvas for minimaps
 */
@Component({
  components: {
    // All the canvas behaviors used
    BSeekOnShiftClick,
    BCanvasCursor,

    // All the minimap behaviors used
    BMinimapCursor,
    BMinimapClickScroll,

    // All the canvas add-ons and UI tools
    LabelCanvas,
  },
})
export default class Minimap extends Vue {
  @Prop({ required: true })
  sortedLabels!: Label[];

  @Prop({ required: true })
  viewRect!: Rect;

  @Prop({ required: true })
  source!: Source;

  @Prop({ required: true })
  goTo!: ScrollTo;
}
</script>

<style lang="scss" scoped>
::v-deep .label-rect {
  pointer-events: none !important;
}
</style>
