<template>
  <v-list-item
    icon
    dense
    :disabled="!unit"
    @click="download"
  >
    <v-list-item-icon><v-icon>mdi-download</v-icon></v-list-item-icon>
    <v-list-item-title>
      {{ $t('button.download-sync') }}
    </v-list-item-title>
  </v-list-item>
</template>

<script lang="ts">
import {
  Vue, Component, Prop, PropSync,
} from 'vue-property-decorator';
import type { EditableUnit } from '@/data';
import UnitParser from '@/formats/UnitParser';

@Component({})
export default class ExportSyncButton extends Vue {
  @Prop({ required: true })
  unit!: EditableUnit;

  @Prop({ required: true })
  piecePath!: string;

  @PropSync('clean')
  isClean!: boolean;

  download() {
    if (!this.unit) return;

    // TODO: handle other types of units
    const obj = UnitParser.exportAudioFormat(this.unit);

    const txt = JSON.stringify(obj, null, 2);

    const blob = new Blob([txt], { type: 'application/json' });
    const link = document.createElement('a');
    link.href = URL.createObjectURL(blob);

    // Try to get a base name for the unit json file,
    const piecePath = this.piecePath?.replaceAll('/', '-');
    // If a base name was found, add the suffix, or use the default name
    const name = piecePath ? `${piecePath}-synchro.json` : 'synchro.json';
    link.download = name;
    link.click();
    URL.revokeObjectURL(link.href);

    this.isClean = true;
  }
}
</script>
