<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col
        v-for="(item, index) in corpusList" :key="index"
        cols="12"
        sm="6"
        md="4"
        lg="3"
      >
        <showcase-item :client="client" :item="item" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import type { Client } from '@/client';
import type CorpusData from '@/data/CorpusData';
import { Component, Prop, Vue } from 'vue-property-decorator';
import type { ShowcaseCard } from './ShowcaseItem.vue';
import ShowcaseItem from './ShowcaseItem.vue';

@Component({
  components: {
    ShowcaseItem,
  },
})
export default class Showcase extends Vue {
  @Prop({ required: true })
  corpusList!: Array<CorpusData|ShowcaseCard>;

  @Prop({ required: true })
  client!: Client;
}
</script>
