<template>
  <div class="editor">
    <limited-canvas-switcher
      v-slot="{ source: unscaledSource, index, scale }"
      :canvases="canvases"
      class="editor-body"
    >
      <source-scaler
        v-slot="{ source }"
        :source="unscaledSource"
        :scale="scale.value"
      >
        <!-- The scroll container, sends scroll events and can order scrolls -->
        <!-- Passes the view rectangle and the scroll function to its children -->
        <!-- Here we only listen to the events of the first scroller -->
        <canvas-scroller
          :has-minimap="true"
          :zoom="appZoom.value"
          :scale="scale.value"
          :pixel-unit="source.pixelUnit"
        >
          <!-- The API provider by the scroller component -->
          <template #default="{ viewRect, actions: { goTo, goToRange } }">
            <!-- The canvas, displays data passed in props and emit events -->
            <label-canvas
              v-slot="{ canvas }"
              :get-label="(id) => actions.getLabel(id)"
              :sorted-labels="actions.getSortedLabels()"
              :selected-id="actions.selectedId"
              :is-focused="focusedSourceIndex === index"
              :source="source"
              :zoom="appZoom.value"
              @all-focusin="focusedSourceIndex = index"
              @label-dblclick="focusEditor()"
              @label-keydown.enter="focusEditor()"
            >
              <!-- The behaviors, consume events and commit changes -->

              <!-- Unique behaviors (only on the first canvas) -->

              <template v-if="index === 0">
                <b-zoom-on-ctrl-scroll
                  :zoom="appZoom"
                  :canvas="canvas"
                />
                <b-zoom-on-window-resize
                  :zoom="appZoom"
                  :canvas="canvas"
                />
              </template>

              <!-- Unique behaviors (only on focused canvas when not tapping) -->
              <template v-if="index === focusedSourceIndex && !isTapping">
                <!-- alt-ctrl-zoom to scale left-right -->
                <b-zoom-on-ctrl-scroll
                  v-if="!source.shouldSnap"
                  :zoom="scale"
                  :canvas="canvas"
                  use-alt
                />
                <b-delete-on-key
                  :canvas="canvas"
                  :actions="actions"
                />
                <b-prev-next-on-key
                  :att="index"
                  :canvas="canvas"
                  :actions="actions"
                />
                <b-player-control-on-key
                  :canvas="canvas"
                  :pixel-unit="source.pixelUnit"
                  :playing.sync="playing"
                  :real-time="realTime"
                  @update:realTime="setRealTime"
                />
                <b-follow-on-play
                  :canvas="canvas"
                  :scroll-to="goTo"
                  :playing="playing"
                  :view-rect="viewRect"
                />
                <b-scroll-on-target
                  :canvas="canvas"
                  :actions="actions"
                />
              </template>
              <!-- Per canvas behaviors: outside tapping mode -->
              <template v-if="!isTapping">
                <b-select-on-click
                  :canvas="canvas"
                  :actions="actions"
                />
                <b-select-on-tab-focus
                  :canvas="canvas"
                  :actions="actions"
                />
                <b-unselect-on-canvas-click
                  :canvas="canvas"
                  :actions="actions"
                />
                <b-seek-on-shift-click
                  :canvas="canvas"
                  :pixel-unit="source.pixelUnit"
                  @update:time="setTime($event)"
                />
                <!-- Editing behaviors: outside tapping mode -->
                <!-- Use from-onset on the score, and from pixel on the wave -->
                <b-create-sync-on-dbl-click
                  :actions="actions"
                  :canvas="canvas"
                  :pixel-unit="source.pixelUnit"
                />
                <b-edit-sync-on-drag
                  :actions="actions"
                  :canvas="canvas"
                  :pixel-unit="source.pixelUnit"
                />
                <b-scroll-on-edge-drag
                  :canvas="canvas"
                  :scroll-to="goTo"
                  :view-rect="viewRect"
                />
                <b-scroll-to-label
                  :actions="actions"
                  :canvas="canvas"
                  :scroll-to-range="goToRange"
                  :pixel-unit="source.pixelUnit"
                />
              </template>
              <!-- Only when tapping, all canvases -->
              <template v-if="isTapping">
                <b-follow-on-play
                  :canvas="canvas"
                  :scroll-to="goTo"
                  :playing="playing"
                  :view-rect="viewRect"
                  force-follow
                />
              </template>
              <!-- On countdown start, scroll to cursor minus a margin -->
              <b-scroll-on-load
                v-if="isCountdown && scoreCursor"
                :start-onset="scoreCursor - 8"
                :pixel-unit="source.pixelUnit"
                :scroll-to="goTo"
              />
              <!-- canvas cursor uses realTime on a spectrogram -->
              <!-- and musical time on a score -->
              <!-- here scoreCursor is the same as musical time, except when tapping -->
              <b-canvas-cursor
                :canvas="canvas"
                :pixel-unit="source.pixelUnit"
                :musical-time="scoreCursor"
                :real-time="realTime"
                :pages="source.pages"
              />
            </label-canvas>
          </template>
          <!-- The minimap scrollbar replacement -->
          <template #minimap="{ viewRect, actions: { goTo } }">
            <minimap
              v-slot="{ canvas }"
              :sorted-labels="actions.getSortedLabels()"
              :source="source"
              :go-to="goTo"
              :view-rect="viewRect"
            >
              <b-canvas-cursor
                :pixel-unit="source.pixelUnit"
                :musical-time="musicalTime"
                :real-time="realTime"
                :pages="source.pages"
              />
              <b-seek-on-shift-click
                :canvas="canvas"
                :pixel-unit="source.pixelUnit"
                @update:time="setTime($event)"
              />
            </minimap>
          </template>
        </canvas-scroller>
      </source-scaler>
    </limited-canvas-switcher>
    <!-- The editor bar and player container -->
    <sync-tools
      ref="tools"
      :piece="piece"
      :actions="actions"
      :is-tapping.sync="isTapping"
      :is-countdown.sync="isCountdown"
      :playing.sync="playing"
      :real-time="realTime"
      :set-time="setTime"
    >
      <template #player>
        <!-- The audio player. Warning: -->
        <!-- Changing musical time will not affect player -->
        <!-- You need to call setTime -->
        <player-container
          ref="player"
          v-model="playing"
          :audio="track"
          :musical-time.sync="musicalTime"
          :real-time.sync="realTime"
        />
      </template>
    </sync-tools>
    <sync-color-generator />
  </div>
</template>

<script lang="ts">
import {
  Vue, Component, Watch, Ref, Prop, PropSync,
} from 'vue-property-decorator';
import LabelCanvas from '@/components/canvas/LabelCanvas.vue';

// Behaviors
import BSelectOnClick from '@/components/behaviors/shared/BSelectOnClick.vue';
import BDeleteOnKey from '@/components/behaviors/shared/BDeleteOnKey.vue';
import BSelectOnTabFocus from '@/components/behaviors/shared/BSelectOnTabFocus.vue';
import BPrevNextOnKey from '@/components/behaviors/shared/BPrevNextOnKey.vue';
import BUnselectOnCanvasClick from '@/components/behaviors/shared/BUnselectOnCanvasClick.vue';

import BZoomOnCtrlScroll from '@/components/behaviors/zoom/BZoomOnCtrlScroll.vue';
import BZoomOnWindowResize from '@/components/behaviors/zoom/BZoomOnWindowResize.vue';
import BScrollOnEdgeDrag from '@/components/behaviors/scroll/BScrollOnEdgeDrag.vue';
import BScrollOnLoad from '@/components/behaviors/scroll/BScrollOnLoad.vue';
import BScrollToLabel from '@/components/behaviors/scroll/BScrollToLabel.vue';
import BScrollOnTarget from '@/components/behaviors/scroll/BScrollOnTarget.vue';
import BMinimapCursor from '@/components/behaviors/scroll/BMinimapCursor.vue';
import BMinimapClickScroll from '@/components/behaviors/scroll/BMinimapClickScroll.vue';

import BCanvasCursor from '@/components/behaviors/player/BCanvasCursor.vue';
import BFollowOnPlay from '@/components/behaviors/player/BFollowOnPlay.vue';
import BPlayerControlOnKey from '@/components/behaviors/player/BPlayerControlOnKey.vue';
import BSeekOnShiftClick from '@/components/behaviors/player/BSeekOnShiftClick.vue';

// Sync behaviors
import BCreateSyncOnDblClick from '@/components/behaviors/synchronization/BCreateSyncOnDblClick.vue';
import BEditSyncOnDrag from '@/components/behaviors/synchronization/BEditSyncOnDrag.vue';

// Addons

import type { LimitedCanvas } from '@/components/canvas-switchers/LimitedCanvasSwitcher.vue';
import LimitedCanvasSwitcher from '@/components/canvas-switchers/LimitedCanvasSwitcher.vue';
import CanvasScroller from '@/components/canvas-addons/CanvasScroller.vue';
import SourceScaler from '@/components/canvas-addons/SourceScaler.vue';
import Minimap from '@/components/canvas-addons/Minimap.vue';
import SyncColorGenerator from '@/components/canvas-addons/SyncColorGenerator.vue';
import SyncTools from '@/components/toolbars/SyncTools.vue';
import PlayerContainer from '@/components/players/PlayerContainer.vue';

// Logic

import type {
  Piece, Onset, Audio, Second, EditableUnit,
} from '@/data';
import { SourceType } from '@/data';
import Zoom from '@/logic/Zoom';
import type SynchronizationActions from '@/synchronization-logic/SynchronizationActions';
import SynchronizationActionsImpl from '@/synchronization-logic/SynchronizationActionsImpl';
import type ITools from './toolbars/ITools';
import type IPlayerContainer from './players/IPlayerContainer';

/**
 * The sync editor integration
 *
 * Displays a piece sync file and lets a user modify it
 */
@Component({
  components: {
    // All the canvas behaviors used
    BSelectOnClick,
    BDeleteOnKey,
    BUnselectOnCanvasClick,
    BSelectOnTabFocus,
    BSeekOnShiftClick,
    BCanvasCursor,
    BScrollOnLoad,
    BScrollOnEdgeDrag,
    BPlayerControlOnKey,
    BFollowOnPlay,
    BPrevNextOnKey,
    BZoomOnCtrlScroll,
    BZoomOnWindowResize,
    BScrollOnTarget,
    BScrollToLabel,

    // All the sync behavior used
    BCreateSyncOnDblClick,
    BEditSyncOnDrag,

    // All the minimap behaviors used
    BMinimapCursor,
    BMinimapClickScroll,

    // All the canvas add-ons and UI tools
    CanvasScroller,
    LimitedCanvasSwitcher,
    LabelCanvas,
    Minimap,
    SourceScaler,
    SyncColorGenerator,
    SyncTools,
    PlayerContainer,
  },
})
export default class SynchronizationEditor extends Vue {
  // Main states

  @Prop()
  piece!: Piece;

  @Prop({ required: true })
  track!: Audio;

  @Prop()
  unit!: EditableUnit;

  @PropSync('clean')
  isClean!: boolean;

  appZoom = new Zoom();

  canvases: LimitedCanvas[] = [];

  actions: SynchronizationActions = {} as SynchronizationActions;

  // Sub states

  created() {
    this.resetPiece();
  }

  // Anything that should be reset if the piece changes
  @Watch('piece')
  @Watch('track')
  resetPiece() {
    this.player?.reset();
    // All scores in the piece
    const scores = this.piece.sources
      .filter((s) => s.type === SourceType.Score || s.type === SourceType.Image3D);
    // All waves associated with the current track
    const waves = this.piece.sources.filter((s) => s.track === this.track);
    this.canvases = [{
      availableSources: waves,
    }, {
      availableSources: scores,
    }];
    this.resetSync();
  }

  @Watch('unit')
  resetSync() {
    const actions = new SynchronizationActionsImpl(
      this.piece,
      this.unit,
      0,
    );
    this.actions = actions;
  }

  /** The index of the last focused source */
  focusedSourceIndex = 0;

  // Audio management

  // If the selected player is playing
  playing = false;

  // Tapping implementation

  /** If the user is currently tapping to the beat to input sync points */
  isTapping = false;

  /** If currently waiting to start tapping */
  isCountdown = false;

  scoreCursor: Onset | null = null;

  @Watch('actions.increment')
  @Watch('actions.selectCount')
  @Watch('realTime')
  @Watch('musicalTime')
  @Watch('isTapping')
  updateScoreCursor() {
    if (this.isTapping || this.isCountdown) {
      this.scoreCursor = this.actions.getNextTappingOnset();
    } else {
      this.scoreCursor = this.musicalTime;
    }
  }

  @Watch('actions.editCount')
  onEdit() {
    if (this.isClean !== !this.actions.editCount) {
      this.isClean = !this.actions.editCount;
    }
  }

  @Ref('tools')
  tools!: ITools;

  @Ref()
  player?: IPlayerContainer;

  setTime(time: Onset) {
    this.player?.setMusicalTime(time);
  }

  setRealTime(time: Second) {
    this.player?.setRealTime(time);
  }

  focusEditor() {
    if (!this.isTapping) this.tools.focus();
  }

  // The current time of the player
  // Current time should never be set, except to null
  // It is exclusively updated by the player
  // To change it, use setTime on any player
  readonly musicalTime: Onset | null = null;

  readonly realTime: Second | null = null;
}

</script>
<style scoped lang="scss">
.editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}
.editor-body {
  flex-grow: 1;
  flex-shrink: 1;
  height: 0;
  overflow-y: auto;
  min-height: 2em;
}
</style>
