<template>
  <!-- The box allowing to show, hide and create buttons -->
  <!-- new values are parsed in pushSearch -->
  <!-- template text is generated using templateText -->
  <!-- search value is synced to add new buttons -->
  <!--
    moved away from combobox because of bugs
    we capture the enter event to create new tags
    user has to use clicks to select suggestions

    bugs in combobox:
    * pressing enter is sometimes ignored
    * list index is not always up to date,
    * * which prevents us from checking for user selection

    solved using @keydown.enter.stop to prevent enter-key selection
    and using event to add the search ourself

    problems:
    the user can still select search results using the arrow keys
  -->
  <!-- hide-selected is used because items can be removed by click or backspace -->
  <!-- validate on blur is used to avoid losing new tags -->
  <!-- search is cleared whenever a tag is deleted or added -->
  <!-- 188 is keycode for comma ',' -->
  <v-autocomplete
    ref="buttonEditor"
    v-model="activeTemplates"
    :items="availableTemplates"
    :search-input.sync="currentSearch"
    chips
    deletable-chips
    :label="$t('button-editor.label.buttonBox')"
    :item-text="templateText"
    return-object
    multiple
    full-width
    :menu-props="{ top: true }"
    hide-selected
    validate-on-blur
    @keydown.enter.stop="enterPressed"
    @keydown.188.prevent="commaPressed"
    @input="currentSearch = null"
  >
    <template #no-data>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            <i18n path="button-editor.info.newButton">
              <template #keyKeep>
                <kbd>{{ $t('button-editor.info.newButtonKeyKeep') }}</kbd>
              </template>
              <template #keyClose>
                <kbd>{{ $t('button-editor.info.newButtonKeyClose') }}</kbd>
              </template>
            </i18n>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>
  </v-autocomplete>
</template>

<script lang="ts">
import {
  Vue, Component, Prop, VModel, Ref, PropSync,
} from 'vue-property-decorator';
import type {
  Label, LabelId, LabelTemplate,
} from '@/data';

const MAX_TAG_LENGTH = 60;

interface VuetifyComponent {
  focus(): void;
  blur(): void;
  activateMenu(): void;
}

@Component
export default class ButtonEditor extends Vue {
  @VModel()
  activeTemplates!: LabelTemplate[];

  @Prop()
  defaultTemplates!: LabelTemplate[];

  @Prop()
  labels!: Record<LabelId, Label>;

  @PropSync('selectedTemplate')
  selectedTemplateSync!: LabelTemplate | null;

  availableTemplates: LabelTemplate[] = [];

  currentSearch: string | null = null;

  @Ref()
  buttonEditor!: VuetifyComponent;

  // Open or close the button
  mounted() {
    // Load all possible interesting templates in the autocomplete field
    this.availableTemplates = this.getAvailableTemplates();
    // Focus the editor field
    this.buttonEditor.focus();
    this.buttonEditor.activateMenu();
  }

  /**
   * Try adding the current search as a tag
   */
  public pushSearch() {
    if (!this.currentSearch) return;
    const parsed = this.getTemplateFromText(this.currentSearch);

    if (!parsed) return;
    this.activeTemplates.push(parsed);
    this.availableTemplates.push(parsed);
    this.selectedTemplateSync = parsed;
    this.currentSearch = null;
  }

  // If enter is pressed
  // Try adding current search
  // Close editor
  enterPressed(): void {
    this.pushSearch();
    this.emitFinished();
  }

  emitFinished() {
    this.$emit('finished');
  }

  // If comma is pressed
  // Try adding current search
  commaPressed(): void {
    this.pushSearch();
  }

  // Creates the visual representation of a template
  templateText(t: LabelTemplate): string {
    let tt = t.tag;

    if (t.type !== 'Pattern') { tt += ` (${t.type})`; }

    if (t.durationType === 'ioi') { tt += ' *'; }

    return tt;
  }

  // Generate a template from a text input
  // Returns null on existing or invalid input
  getTemplateFromText(v: string): LabelTemplate | null {
    const newTag = v.trim();
    // if v is empty, return null
    if (!newTag) return null;

    // Filter out lengths (to avoid display issues)
    if (newTag.length > MAX_TAG_LENGTH) {
      this.$dialog.message.warning(this.$t('button-editor.info.tagTooLong') as string);
      return null;
    }

    // Default parsing, entry as a new tag, and Pattern type
    let tag = newTag;
    let type = 'Pattern';

    // if v is in the format TAG (TYPE), parse the tag and type
    const match = newTag.match(/^(.+) \((.+)\)$/);
    if (match && match.length === 3) {
      [, tag, type] = match;
    }

    // If tag already exists, cancel
    if (this.activeTemplates.find(
      (template) => template.tag === tag && template.type === type,
    )
    ) {
      this.$dialog.message.warning(this.$t('button-editor.info.tagExists') as string);
      return null;
    }

    return { tag, type };
  }

  // Create a list of potential templates
  getAvailableTemplates(): LabelTemplate[] {
    // Get all default templates and custom templates, minus the duplicates
    const available = [...new Set([...this.defaultTemplates, ...this.activeTemplates])];

    // Create a table to lookup potential new templates
    const availableLookup = new Set(available.map(this.templateText));

    // For every label without a template
    Object.values(this.labels).forEach((l) => {
      const key = this.templateText(l);
      if (!availableLookup.has(key)) {
        // Add a new available template once
        availableLookup.add(key);
        const newTemplate: LabelTemplate = {
          tag: l.tag,
          type: l.type,
          durationType: l.durationType,
        };
        // Add template to button list
        available.push(newTemplate);
        // Select template
        this.selectedTemplateSync = newTemplate;
      }
    });

    return available;
  }
}
</script>
