<!-- eslint-disable no-bitwise -->
<script lang="ts">
import {
  Component, Prop, Watch, Vue,
} from 'vue-property-decorator';
import type {
  Label, Rect, Staff, Unit, Pixel,
} from '@/data';

import { FilterStyleGenerator } from '@/logic/FilterStyleGenerator';
import type { Image3DPageData } from '@/data/Source';
import type { DeMuxPixel } from '@/data/PixelUtils';
import PixelUtils from '@/data/PixelUtils';

@Component
export default class LabelWatcher extends Vue {
  @Prop({ required: true })
  readonly label!: Label;

  @Prop({ required: true })
  readonly staves!: Staff[];

  @Prop({ required: true })
  readonly pixelUnit!: Unit<Pixel>;

  @Prop({ required: true })
  readonly hasMargin!: boolean;

  @Prop({ default: false })
  readonly isSelected!: boolean;

  @Prop()
  readonly pages!: Array<Image3DPageData>;

  @Prop()
  readonly currentPage!: number;

  // Default values not zeroed to avoid warnings
  rects: Rect[] = [{
    x: 0, y: 0, width: 10, height: 30,
  }] as Rect[];

  isMomentBar = false;

  renderCount = 0;

  mounted() {
    this.updateData();
  }

  /**
   * Watch all label properties that may cause a rerender
   */
  @Watch('label.duration')
  @Watch('label.onset')
  @Watch('label.staffId')
  @Watch('label.type')
  @Watch('label.tag')
  @Watch('isSelected')
  @Watch('staves')
  @Watch('pixelUnit')
  @Watch('hasMargin')
  /**
   * Also watch for point change, which happens only for SyncLabels in the SyncEditor
   */
  @Watch('label.point')
  updateRenderCount() {
    this.renderCount += 1;
  }

  @Watch('renderCount')
  updateData() {
    this.rects = this.labelToRect();

    this.isMomentBar = !this.label.duration && !this.hasMargin;

    this.classes = (this.label.duration ? '' : 'label-bar ')
      + (this.label.duration || this.hasMargin ? '' : 'moment-bar ')
      + (this.isSelected ? 'selected ' : '')
     + FilterStyleGenerator.getCssClassNames(this.label);
  }

  classes = '';

  computeRowRects(start: DeMuxPixel, end: DeMuxPixel, pageIndex: number): Rect[] {
    const rectsToRender: Rect[] = [] as Rect[];
    const shouldAddMargin = this.hasMargin || !this.label.duration;
    const shouldAddNegativeMarginRight = this.label.duration && this.label.durationType === 'duration';
    const margin = this.hasMargin ? 8 : 2;

    for (let i = start.row; i <= end.row; i += 1) {
      const currentRow = this.pages[pageIndex].rows[i];
      const staff = currentRow.staves[this.label.staffId]
        || currentRow.staves.find((s) => s.id === this.label.staffId) || currentRow.staves[0];
      const staffY: Pixel = (
        Math.round(staff.top) + 1) + this.pages[pageIndex].height * pageIndex as Pixel;
      const staffHeight: Pixel = Math.round(staff.height) - 2 as Pixel;

      let x: Pixel;
      let width: Pixel;
      if (i === start.row && i === end.row) {
        // First and last row are the sane
        const length = end.x - start.x;
        x = (shouldAddMargin ? start.x - margin : start.x) as Pixel;
        width = (shouldAddMargin && !shouldAddNegativeMarginRight
          ? (length) + margin * 2 : length) as Pixel;
      } else if (i === start.row) {
        // Is Start Row
        const length = currentRow.end - start.x;
        x = (shouldAddMargin ? start.x - margin : start.x) as Pixel;
        width = (shouldAddMargin && !shouldAddNegativeMarginRight
          ? (length) + margin * 2 : length) as Pixel;
      } else if (i > start.row && i < end.row) {
        // Is Intermediate row
        const length = currentRow.end - currentRow.start;
        x = (shouldAddMargin ? currentRow.start - margin : currentRow.start) as Pixel;
        width = (shouldAddMargin && !shouldAddNegativeMarginRight
          ? (length) + margin * 2 : length) as Pixel;
      } else {
        // Is last row
        const length = end.x - currentRow.start;
        x = (shouldAddMargin ? currentRow.start - margin : currentRow.start) as Pixel;
        width = (shouldAddMargin && !shouldAddNegativeMarginRight
          ? (length) + margin * 2 : length) as Pixel;
      }

      rectsToRender.push({
        x,
        y: staffY as Pixel,
        width,
        height: staffHeight as Pixel,
      });
    }
    return rectsToRender;
  }

  labelToRect(): Rect[] {
    const rectsToRender: Rect[] = [] as Rect[];
    const range = this.pixelUnit.fromInterval(this.label.onset, this.label.duration);
    const start = PixelUtils.deMux(range.start);
    const end = PixelUtils.deMux(range.end);

    for (let j = start.page; j <= end.page; j += 1) {
      if (j === start.page && j === end.page) {
        rectsToRender.push(...this.computeRowRects(start, end, j));
      } else if (j === start.page) {
        const lastRow = this.pages[j].rows.length - 1;
        const lastX = this.pages[j].rows[lastRow].end;
        rectsToRender.push(
          ...this.computeRowRects(start, { page: start.page, row: lastRow, x: lastX }, j),
        );
      } else if (j > start.page && j < end.page) {
        const lastRow = this.pages[j].rows.length - 1;
        const lastX = this.pages[j].rows[lastRow].end;
        const firstX = this.pages[j].rows[0].start;
        rectsToRender.push(
          ...this.computeRowRects(
            { page: j, row: 0, x: firstX },
            { page: j, row: lastRow, x: lastX },
            j,
          ),
        );
      } else {
        const firstX = this.pages[j].rows[0].start;
        rectsToRender.push(
          ...this.computeRowRects({ page: j, row: 0, x: firstX }, end, j),
        );
      }
    }
    return rectsToRender as Rect[];
  }
}
</script>
