<template>
  <g>
    <circle
      v-if="isMomentBar"
      :cx="displayRects[0].x + 2"
      :cy="displayRects[0].y - 10"
      r="10"
      class="label-rect"
      :class="classes"
      data-canvas-tag="label"
      :data-canvas-id="label.id"
    />
    <g ref="rect">
      <rect
        v-for="(displayRect, index) in displayRects"
        :key="index"
        :x="displayRect.x"
        :y="displayRect.y"
        :width="displayRect.width"
        :height="displayRect.height"
        tabindex="0"
        class="label-rect"
        :class="classes"
        data-canvas-tag="label"
        :data-canvas-id="label.id"
      />
    </g>
    <text
      ref="text"
      :x="textPos.x"
      :y="textPos.y"
      class="label-text"
      :class="classes"
    />
  </g>
</template>
<script lang="ts">
import {
  Component, Prop, Ref, Watch,
} from 'vue-property-decorator';
import type { Pixel, Point, Rect } from '@/data';
import LabelWatcher from './LabelWatcher.vue';

const MAX_BAR_TAG_WIDTH = 150;
const TEXT_MARGIN = 4;
const ELLIPSIS_WIDTH = 15;

@Component
export default class LabelSvg extends LabelWatcher {
  @Prop({ default: false })
  isFocused!: boolean;

  @Prop({
    default: 0,
    type: Number,
  })
  currentViewX!: Pixel;

  /**
   * A reference to the label <rect> element
   */
  @Ref('rect')
  readonly svgRect!: SVGRectElement;

  /**
   * A reference to the <text> element
   */
  @Ref()
  readonly text!: SVGTextContentElement;

  @Watch('label.tag')
  @Watch('label.type')
  updateLabelText() {
    this.renderCount += 1;
  }

  /**
   * Updates the text value through the DOM
   * This is necessary as SVG does not support CSS text-overflow
   * We have to read the rastered text width through the DOM
   */
  @Watch('rects')
  updateText() {
    const tag = this.label.tag || '';

    // Calculate the max text width
    // If the label is a bar, use a static constant
    const width = this.label.duration
      ? this.rects[0].width - TEXT_MARGIN * 2
      : MAX_BAR_TAG_WIDTH;

    this.text.textContent = tag;

    // If the text fits, finish the function
    if (this.text.getComputedTextLength() < width) return;

    const availableWidth = width - ELLIPSIS_WIDTH;

    // If the text does not fit, iterate the length until it does
    for (let i = tag.length - 1; i >= 0; i -= 1) {
      const textWidth = this.text.getSubStringLength(0, i);
      // Remove 15 pixels from the width to fit the ellipsis
      if (textWidth < availableWidth) {
        this.text.textContent = `${tag.slice(0, i)}...`;
        return;
      }
    }
    // If nothing fits, remove the text
    this.text.textContent = '';
  }

  /**
   * The current position of the text element
   */
  textPos: Point = { x: 0, y: 0 } as Point;

  @Watch('rects')
  @Watch('currentViewX')
  updateTextPos() {
    if (this.label.duration) {
      const computedTextLength = this.text.getComputedTextLength();
      let padding = 0;
      const textEnd = this.currentViewX + computedTextLength;
      const rectEnd = this.rects[0].x + this.rects[0].width;
      if (textEnd >= rectEnd && textEnd > 0) {
        padding = rectEnd - this.rects[0].x - computedTextLength - 16;
      } else if (this.rects[0].x < this.currentViewX) {
        padding = this.currentViewX - this.rects[0].x;
      }
      this.textPos = {
        x: this.rects[0].x + 4 + padding,
        y: this.rects[0].y + 25,
      } as Point;
    } else {
      this.textPos = {
        x: this.rects[0].x + this.rects[0].width / 2,
        y: this.rects[0].y + this.rects[0].height - 2,
      } as Point;
    }
  }

  /**
   * The actual displayed rectangle
   * Can be smaller than rect to leave room for the moment handle
   * Can be smaller than rect to leave room for the bar text
   */
  displayRects: Rect[] = [{
    x: 0, y: 0, width: 0, height: 0,
  }] as Rect[];

  @Watch('rects')
  updateDisplayRect() {
    this.displayRects = this.rects;
    if (!this.label.duration && this.isMomentBar) {
      this.displayRects[0].y = (this.rects[0].y + 10) as Pixel;
      this.displayRects[0].height = (this.rects[0].height - 35) as Pixel;
    } else if (!this.label.duration) {
      this.displayRects[0].height = (this.rects[0].height - 25) as Pixel;
    }
  }

  mounted() {
    this.onSelectionChange();
  }

  /**
   * When selection changes in the focused canvas, focus the selected label
   */
  @Watch('isSelected')
  onSelectionChange() {
    if (this.isSelected && this.isFocused) this.svgRect.focus({ preventScroll: true });
  }
}
</script>
<style scoped lang="scss">

.label-rect{
  fill-opacity: 0.2;
  stroke-opacity: 0.2;
  stroke-width: 2;
  rx: 10px;
  ry: 10px;
  fill: var(--label-color, white);
  stroke: #000000;
}

// Selected label class, active when id === selectedId
.label-rect.selected{
  fill-opacity: 0.3;
  stroke-opacity: 1;
  stroke-width: 2;
}

// Remove the chrome rounded outline and the ff dash outline
// focus is different from selection, and synchronizing both is hard
.label-rect:focus{
  outline: none;
}

// Active when duration === 0
.label-rect.label-bar {
  fill-opacity: 0.3;
  stroke-opacity: 0.3;
}

// Moment class, active in duration mode when duration === 0
.label-rect.moment-bar {
  fill-opacity: 0.8;
  stroke-opacity: 0.8;
  rx: 2px;
  ry: 2px;
}

.label-text {
  color: black;
  opacity: 0.8;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 130%;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
}

.label-text.selected {
  opacity: 1;
}

.label-text.label-bar {
  text-anchor: middle;
}
</style>
