<template>
  <g>
    <polygon
      :points="points"
      :transform="getTransformLeft()"
      class="arrow"
      :class="classes"
      data-canvas-tag="left-arrow"
    />
    <polygon
      :points="points"
      :transform="getTransformRight()"
      class="arrow"
      :class="classes"
      data-canvas-tag="right-arrow"
    />
  </g>
</template>
<script lang="ts">
import { Component } from 'vue-property-decorator';
import LabelWatcher from './LabelWatcher.vue';

const ARROW_OFFSET = 10;
const ARROW_HEIGHT = 30;
const ARROW_WIDTH = 30;

const POINTS = `
  ${ARROW_OFFSET},${ARROW_HEIGHT}
  ${ARROW_OFFSET + ARROW_WIDTH},${0}
  ${ARROW_OFFSET},${-ARROW_HEIGHT}
`;

@Component
export default class SelectionArrow extends LabelWatcher {
  points = POINTS;

  getTransformRight(): string {
    const lastRectsIndex = this.rects.length - 1;
    const x = this.rects[lastRectsIndex].x + this.rects[lastRectsIndex].width;
    const y = this.rects[lastRectsIndex].y + this.rects[lastRectsIndex].height / 2;
    return `translate(${x} ${y})`;
  }

  getTransformLeft(): string {
    const { x } = this.rects[0];
    const y = this.rects[0].y + this.rects[0].height / 2;
    return `translate(${x} ${y}) scale(-1 1)`;
  }
}
</script>
<style lang="scss" scoped>
.arrow {
  stroke-width: 3;
  opacity: 0.5;
  fill: #000000;
  stroke: #ffffff;
}
</style>
