<!-- eslint-disable vue/singleline-html-element-content-newline -->
<template>
  <v-card height="100%">
    <v-card-title>{{ $t('button.help') }}</v-card-title>
    <v-card-text>
      <v-expansion-panels accordion :value="0">
        <v-expansion-panel v-if="$i18n.locale === 'fr-FR'">
          <v-expansion-panel-header> Premiers pas</v-expansion-panel-header>
          <v-expansion-panel-content>
            • Sélectionnez une pièce dans la barre de
            navigation à gauche. Recherchez la pièce qui vous intéresse par nom ou compositeur.
            <br>
            Une fois la pièce ouverte:
            <br>
            • Déplacez-vous horizontalement dans la pièce,
            le long de la partition ou de la forme d'onde.
            La carte, partition/forme d'onde réduite, fonctionne
            comme une barre de défilement.
            <br>
            • Quand un fichier audio ou vidéo est disponible, jouez la musique
            <br>
            • Rajoutez des étiquettes avec un glissé-déplacé à la souris.
            <br>
            • Cliquez sur une étiquette pour la sélectionner.
            L'<i>étiquette sélectionnée</i> est affichée avec des flèches noires sur les deux côtés.
            <br>
            • Modifiez l'étiquette sélectionnée, soit à la souris
            (en la déplaçant ou bien avec les flèches noires),
            soit dans l'onglet <icn pencil>Modifier</icn>
            dans la barre d'édition en bas.
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel v-if="$i18n.locale === 'fr-FR'">
          <v-expansion-panel-header> Étiquettes et analyses</v-expansion-panel-header>
          <v-expansion-panel-content>
            Les étiquettes contiennent:
            <br>
            • Un <b>début</b>, et potentiellement une <b>durée</b> et une <b>fin</b>,
            soit en temps musical (nombre de mesures et de temps)
            ou en temps en secondes.
            <br>
            • Un <b>type</b> (catégorie)
            <br>
            • Un <b>tag</b> optionnel (texte court,
            idéalement pris dans un vocabulaire contrôlé)
            <br>
            • Un <b>commentaire</b> optionnel (texte libre)
            <br>
            <br>
            Vous pouvez modifier les étiquettes à la souris
            ou bien dans l'onglet <icn pencil>Modifier</icn>.
            <br>
            <br>
            Une <b>analyse</b> est un ensemble d'étiquettes.
            Dans la barre de navigation, vous pouvez:
            <br>
            • Enregistrer l'analyse sur le cloud Dezrann
            <br>
            • Enregistrer l'analyse sur votre ordinateur (fichier .dez)
            <br>
            Une fois enregistrée, vous pouvez charger l'analyse à tout moment.
            <br>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel v-if="$i18n.locale === 'fr-FR'">
          <v-expansion-panel-header> Vues </v-expansion-panel-header>
          <v-expansion-panel-content>
            Les pièces ont généralement plusieurs <i>vues</i>,
            c'est-à-dire des visualisations de la musique
            comme des partitions, des formes d'onde ou des spectrogrammes. <br>
            Le bouton en haut à droite permet de changer les vues. <br>
            Il est possible d'ouvrir plusieurs vues en parallèle:
            le bouton <icn plus /> en bas à droite des vues ouvre une nouvelle vue.
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel v-if="$i18n.locale === 'fr-FR'">
          <v-expansion-panel-header>
            Boutons/modèles de création d'étiquettes (onglet Ajouter)
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Les boutons d'étiquettes facilitent la création d'étiquettes identiques ou similaires.
            Ils sont enregistrés avec vos analyses.
            <br>
            <br>
            <b>Créer des boutons.</b>
            Sélectionnez l'onglet <icn plus>Ajouter</icn>.
            Appuyez sur l'icône crayon pour modifier ces boutons.
            Rentrez le tag du bouton souhaité dans l'éditeur,
            et validez par <icn enter>Entrée</icn>
            Des suggestions d'étiquettes apparaitront au-dessus de l'éditeur.
            <br>
            Dans l´éditeur:
            <br>
            • <icn erase>Effacer</icn> supprime le dernier bouton,
            ou celui que vous avez sélectionné.
            <br>
            • <icn left /> et <icn right /> change la sélection.
            <br>
            • <kbd>virgule</kbd> créé un nouveau bouton avec le tag entré.
            <br>
            • <icn enter>Entrée</icn> créé un nouveau bouton avec le tag entré, et ferme l'éditeur.
            <br>
            <br>
            <b>Utiliser des boutons d'étiquettes.</b>
            Cliquez sur un bouton
            (ou utilisez les raccourcis <kbd>1</kbd>/<kbd>2</kbd>/<kbd>3</kbd>/...),
            puis placez votre étiquette
            sur la partition/forme d'onde/spectrogramme.
            Lorsqu'un fichier audio ou vidéo est disponible,
            les boutons peuvent être utilisés durant la lecture.
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel v-if="$i18n.locale !== 'fr-FR'">
          <v-expansion-panel-header> First Steps </v-expansion-panel-header>
          <v-expansion-panel-content>
            • Select a piece in the navigation bar on the left <icn magnify />.
            Search pieces by title or by composer.
            <br>
            <br>
            Once the piece is opened:
            <br>
            • Navigate the piece horizontally, along the score or the waveform.
            Below the score/waveform, the <i>map</i> works like a scrollbar.
            <br>
            • When an audio or video file is available, play the music.
            <br>
            • Add labels with a click and drag of the mouse.
            <br>
            • Click on a label to select it.
            The <i>selected label</i> appears with black arrows on both sides.
            <!-- By creating a new label, it will be automatically selected. -->
            <br>
            • Edit the selected label either with the mouse
            (move, or use the blacks arrows)
            or with the <icn pencil>Edit</icn> tab at the bottom
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel v-if="$i18n.locale !== 'fr-FR'">
          <v-expansion-panel-header> Labels and Analyzes</v-expansion-panel-header>
          <v-expansion-panel-content>
            Each <i>label</i> is defined by:
            <br>
            • A <i>start</i>, and possibly a <i>duration</i> and an <i>end</i>,
            in either musical time (number of bars) or wall clock time (seconds).
            <br>
            • A <i>type</i> (or category)
            <br>
            • An optional <i>tag</i> (short text, ideally in a controlled vocabulary).
            <br>
            • An optional <i>comment</i> (free text)
            <br>
            Labels can be edited either with the mouse on the score/waveform/spectograms,
            or, in fields in the <icn pencil>Edit</icn> tab.
            <br>
            Labels are colored by their type, and sometimes by their tag.
            <br>
            <br>
            An <b>analysis</b> is a set of labels.
            <br>
            In the navigation bar, you can:
            <br>
            • Save the analysis to the Dezrann cloud
            <br>
            • Save the analysis on your computer (.dez file)
            <br>
            Once saved, you can load the analysis at any time.
            <br>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel v-if="$i18n.locale !== 'fr-FR'">
          <v-expansion-panel-header> Views </v-expansion-panel-header>
          <v-expansion-panel-content>
            Pieces may contain several <i>views</i> on the music
            such as scores, waveforms or spectograms. <br>
            The top right button switches views. <br>
            The <icn plus /> button at the bottom right of the views opens a new view.
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel>
          <v-expansion-panel-header> {{ $t('shortcut.title') }} </v-expansion-panel-header>
          <v-expansion-panel-content>
            <b>{{ $t('shortcut.navigate-piece.section') }}</b>
            <br>
            • {{ $t('shortcut.navigate-piece.scrollbar') }}
            <br>
            • <icn left /> / <icn right />
            <br>
            • <icn shift /> <icn left /> / <icn shift /> <icn right />
            {{ $t('shortcut.navigate-piece.10seconds') }}
            <br>
            • <icn shift /> <kbd>{{ $t('shortcut.key.wheel') }}</kbd>
            <br>
            • (when available) <kbd>horizontal Mousewheel</kbd>
            <br>
            • (when available, touchpad) <kbd>horizontal scroll gesture</kbd>
            <!--
              • (si disponible) <kbd>molette horizontale</kbd>
              <br>
              • (si disponible, pavé tactile) <kbd>geste de défilement horizontal</kbd>
            -->
            <br>
            • <kbd>Home</kbd>
            : {{ $t('shortcut.navigate-piece.start') }}
            <br>
            • <kbd>t</kbd>
            : {{ $t('shortcut.navigate-piece.switch-time') }}
            <br>
            <br>

            <b>{{ $t('shortcut.navigate-labels.section') }}</b>
            <br>
            • <icn shift /> <icn left /> / <icn shift /> <icn right />
            : {{ $t('shortcut.navigate-labels.previous-next') }}
            <br>
            • <kbd>{{ $t('shortcut.key.ctrl') }}</kbd> <icn left />
            / <kbd>{{ $t('shortcut.key.ctrl') }}</kbd> <icn right />
            : {{ $t('shortcut.navigate-labels.previous-next-type') }}
            <br>
            • <kbd>{{ $t('shortcut.key.ctrl') }}</kbd> <icn shift /> <icn left />
            / <kbd>{{ $t('shortcut.key.ctrl') }}</kbd> <icn shift /> <icn right />
            : {{ $t('shortcut.navigate-labels.previous-next-tag') }}
            <br>
            • <icn enter>{{ $t('shortcut.key.enter') }}</icn>
            / <kbd>{{ $t('shortcut.key.double-click') }}</kbd>
            : {{ $t('shortcut.navigate-labels.edit') }}
            <br>
            <br>

            <b>{{ $t('shortcut.edit-label.section') }}</b>
            <br>
            • <icn up /> / <icn down />
            : {{ $t('shortcut.edit-label.one-beat') }}
            <br>
            • <icn shift /> <icn up /> /  <icn shift /> <icn down />
            : {{ $t('shortcut.edit-label.one-bar') }}
            <br>
            <br>

            <b>{{ $t('shortcut.create-label.section') }}</b>
            <br>
            • <kbd>{{ $t('shortcut.key.click') }}</kbd>, <kbd>{{ $t('shortcut.key.drag') }}</kbd>
            : {{ $t('shortcut.create-label.create') }}
            <br>
            • <kbd>1</kbd>/<kbd>2</kbd>/<kbd>3</kbd>/...
            : {{ $t('shortcut.create-label.template') }}
            <br>
            • <kbd>{{ $t('shortcut.key.ctrl') }}</kbd> <kbd>{{ $t('shortcut.key.enter') }}</kbd>
            {{ $t('shortcut.create-label.following') }}
            <br>
            • <kbd>{{ $t('shortcut.key.ctrl') }}</kbd> <icn shift />
            <kbd>{{ $t('shortcut.key.enter') }}</kbd>
            {{ $t('shortcut.create-label.feedback') }}
            <br>
            <br>

            <b>{{ $t('shortcut.copy-label.section') }}</b>
            <br>
            • <kbd>{{ $t('shortcut.key.ctrl') }}</kbd> <kbd>c</kbd>
            : {{ $t('shortcut.copy-label.pretty') }}
            <br>
            • <kbd>j</kbd>
            : {{ $t('shortcut.copy-label.json') }}
            <br>
            • <kbd>{{ $t('shortcut.key.ctrl') }}</kbd> <kbd>v</kbd>
            : {{ $t('shortcut.copy-label.paste') }}
            <br>
            <br>

            <b>{{ $t('shortcut.zoom.section') }}</b>
            <br>
            • <kbd>{{ $t('shortcut.key.ctrl') }}</kbd> <kbd>{{ $t('shortcut.key.wheel') }}</kbd>
            :  {{ $t('shortcut.zoom.zoom-wheel') }}
            <br>
            • <kbd>{{ $t('shortcut.key.ctrl') }}</kbd> <icn plus />
            / <kbd>{{ $t('shortcut.key.ctrl') }}</kbd> <icn minus />
            : {{ $t('shortcut.zoom.zoom-app') }}
            <br>
            <br>

            <b>{{ $t('shortcut.audio.section') }}</b> ({{ $t('shortcut.audio.cursor') }})
            <br>
            • <icn play />/<icn pause /> (bottom right) or <kbd>{{ $t('shortcut.key.space') }}</kbd>
            : {{ $t('shortcut.audio.play-pause') }}
            <br>
            • <icn backspace>{{ $t('shortcut.key.backspace') }}</icn>
            : {{ $t('shortcut.audio.start') }}
            <br>
            • <icn shift /> <kbd>{{ $t('shortcut.key.double-click') }}</kbd>
            {{ $t('shortcut.where.on-a-label') }}
            : {{ $t('shortcut.audio.play-once') }}
            <br>
            • <kbd>{{ $t('shortcut.key.ctrl') }}</kbd><icn shift />
            <kbd>{{ $t('shortcut.key.double-click') }}</kbd>
            {{ $t('shortcut.where.on-a-label') }}
            : {{ $t('shortcut.audio.loop') }}
            <br>
            • <icn shift /> <kbd>{{ $t('shortcut.key.click') }}</kbd>
            {{ $t('shortcut.where.on-a-label') }}
            : {{ $t('shortcut.audio.start-label') }}
            <br>
            • <icn shift /> <kbd>{{ $t('shortcut.key.click') }}</kbd>
            {{ $t('shortcut.where.on-background') }}
            : {{ $t('shortcut.audio.move-mouse') }}
            <br>
            • <kbd>n</kbd>
            : {{ $t('shortcut.audio.play-click') }}
            <br>
            • <icn shift /> <kbd>{{ $t('shortcut.key.space') }}</kbd>
            : {{ $t('shortcut.audio.switch') }}
            <br>
            • <kbd>.</kbd>
            : {{ $t('shortcut.audio.scroll') }}
            <br>
            <br>

            <b>{{ $t('shortcut.video.section') }}</b> (when available)
            <br>
            • {{ $t('shortcut.video.zoom-hide') }}
            <br>
            • <kbd>&lt;</kbd> / <kbd>&gt;</kbd>
            : {{ $t('shortcut.video.slow-fast') }}
            <!-- (<icn shift /> and <kbd>,</kbd>)  no, keyboard dependant -->
            <br>
            • other <a href="https://support.google.com/youtube/answer/7631406">shortcuts</a> from the YouTube player
            <!-- • autres <a href="https://support.google.com/youtube/answer/7631406">raccourcis claviers</a> du lecteur YouTube -->
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel v-if="$i18n.locale !== 'fr-FR'">
          <v-expansion-panel-header>
            Label templates/buttons (+ Create)
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Label buttons ease the creation of same or similar labels.
            They are saved with your analysis.
            <br>
            <br>
            <b>Create buttons.</b>
            Select the <icn plus>Create</icn> tab.
            Click on the pencil icon to edit buttons.
            Enter a new tag in the box, and add it using <icn enter>Enter</icn>.
            As you type, suggestions will appear above the editor.
            <br>
            In the button editor:
            <br>
            • <icn backspace>Erase</icn> removes the last button, or the selected button.
            <br>
            • <icn left /> and <icn right /> change the selected button.
            <br>
            • <kbd>,</kbd> adds the text entry to the button list.
            <br>
            • <icn enter>Enter</icn> adds the text entry and closes the editor.
            <br>
            <br>
            <b>Use buttons.</b>
            Click on any label button
            (or use the keyboard shortcuts <kbd>1</kbd>/<kbd>2</kbd>/<kbd>3</kbd>/...),
            then place a label on the score/waveform/spectrogram.
            When audio and/or video are available, the buttons can also be used during playback.
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card-text>

    <dialog-actions v-if="actions" :actions="['OK']" />
  </v-card>
</template>
<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { accountMailUrl, contactMailUrl } from './mail';
import Icn from './utils/Icn.vue';

@Component({
  components: { Icn },
})
export default class AboutDialog extends Vue {
  @Prop({ required: true })
  actions!: boolean;

  contactMailUrl = contactMailUrl;

  accountMailUrl = accountMailUrl;
}
</script>
