<template>
  <v-tooltip
    :left="tooltipDirection === 'left'"
    :right="tooltipDirection === 'right'"
    :top="tooltipDirection === 'top'"
    :bottom="tooltipDirection === 'bottom'"
    :disabled="!tooltip"
  >
    <template #activator="{ on, attrs }">
      <v-btn
        :id="btnId"
        class="fab v-btn--round"
        v-bind="{ ...attrs, ...attrsParent}"
        elevation="2"
        bottom
        right
        :color="color"
        :disabled="disabled"
        v-on="on"
        @click="click"
      >
        <v-icon v-text="icon" />
      </v-btn>
    </template>
    {{ tooltip }}
  </v-tooltip>
</template>
<script lang="ts">
import {
  Vue, Component, Prop, Emit,
} from 'vue-property-decorator';

@Component({
  inheritAttrs: false,
})
export default class Fab extends Vue {
  @Prop({ required: false })
  color!: string;

  @Prop()
  tooltip!: string;

  @Prop({ default: 'top' })
  tooltipDirection!: string;

  @Prop()
  icon!: string;

  @Prop({ default: false })
  disabled!: boolean;

  @Prop({ required: false, default: null })
  btnId!: string | null;

  attrsParent = this.$attrs;

  @Emit()
  click(e: MouseEvent): MouseEvent {
    return e;
  }
}
</script>
<style scoped lang="scss">
.fab {
  margin: 5px;
  height: 56px;
  width: 56px;
}
</style>
