<template>
  <div
    class="d-inline-block custom-placeholder"
    :style="`width: ${width}; height: ${height};`"
  >
    <div class="custom-placeholder-slider" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Placeholder extends Vue {
  @Prop({ required: false, default: '100%' })
  width!: string;

  @Prop({ required: false, default: '100%' })
  height!: string;
}
</script>

<style scoped lang="scss">
.custom-placeholder {
  background: #eee;
  overflow: hidden;
  &-slider {
    background: linear-gradient(90deg, #eee, #fafafa, #eee);
    width: 50%;
    height: 100%;
    animation: placeholder-anim infinite linear 2s;
  }
}

@keyframes placeholder-anim {
  0% {
    transform:translateX(-100%);
  }
  100% {
    transform:translateX(200%);
  }
}
</style>
