<script lang="ts">
// @vue/component
import { Prop, Component } from 'vue-property-decorator';
import type SharedActions from '@/logic/SharedActions';
import type { BScrollToEmitter } from '../scroll/BScrollToLabel.vue';
import LabelBehavior from '../LabelBehavior.vue';

/**
 * Delete the selected label on delete
 *
 * Requires ScrollToLabel to handle scroll as well as deleting
 */
@Component
export default class BDeleteOnKey extends LabelBehavior<BScrollToEmitter> {
  @Prop()
  actions!: SharedActions;

  onKey(event: KeyboardEvent): void {
    if (event.key !== 'Delete') return;

    // Delete selected label, and try to get the next label
    const nextLabel = this.actions.deleteSelected(true);

    // Scroll to it
    if (nextLabel) this.emit('scroll-to-selection');

    // Stop the propagation to avoid calling events on removed labels
    event?.stopPropagation?.();
  }

  mounted() {
    // This registers an event on the parent LabelCanvas
    this.register('document-keydown', this.onKey);
  }
}
</script>
